<h1>Payment</h1>

<form>
<label for="input1"> How big is your loan?</label>
<input type="text" id="input1" name="present_value">

<label for="input2"> Whats your interest rate?</label>
<input type="text" id="input2" name="rate">

<label for="input3"> How many payments?</label>
<input type="text" id="input3" name="number_of_payment">
<button type="submit"> Submit </button>
</form>

<p>The monthly payment is $<%= @payment %>.</p>
