<h1>Square</h1>

<form>
<label for="input1"> What number do you want to square?</label>
<input type="text" id="input1" name="number">
<button type="submit"> HIT ME</button>


</form>

<p>The square of <%= @the_number %> is <%= @answer %>.</p>
